/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[探]Logs/
/[Uu]ser[Ss]ettings/

# Visual Studio / VS Code файли
.vscode/
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# ОС файли
.DS_Store
Thumbs.db